@model  IEnumerable<DemoMoney.Models.Models.DemoMoneyTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Import", "Import")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InAndOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteOrNot)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InAndOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteOrNot)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">New User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">text api</a>
        @{
            if (Request.Cookies["UserKeepLogin"] != null)
            {
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="download_excel()">download</a>
            }
         }
            @*<form id="Downloadform" method="post" action="/Demo/Button_Click">
            <button id="Downloadbutton">下載表單</button>
            </form>*@
        </div>
    <script type="text/javascript">
        function download_excel() {
            $.ajax({
                url: '@Url.Action("Button_Click", "DemoMoney")',
                type: 'post',
                dataType: 'json',
                data: { sender: 'John', location: 123},
                success: function (response) {
                    if (response.Result) {
                        alert('Download Success!!' + response.Message);
                    } else {
                        alert('DownloadError!!' + response.Message);
                    }
                },
                error: function (errer) {
                    alert('DownloadError!!');
                }
            });
        }
        function destroyUser() {
            $.ajax({
                url: '@Url.Action("textapi", "DemoMoney")',
                type: 'post',
                dataType: 'json',
                data: { sender: 'John', location: 123},
                success: function (response) {
                    if (response.Result) {
                        alert('Download Success!!' + response.Message);
                    } else {
                        alert('DownloadError!!' + response.Message);
                    }
                },
                error: function (errer) {
                    alert('DownloadError!!');
                }
            });
        }




    </script>